{% extends "base.html" %}
{% load static %}

{% block head %}
<title>main page</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %} 
{% block content %}
<div class="main_box">
    <div class="left">

    </div>
    <div class="right">
        <ul class="col">
            <li class="col">
                {% if user.is_authenticated %}
                <a class="" href="{% url 'foods:detail'%}">오늘의 음식</a>
                <span>{{user_food.names}}</span>
                {% else %}
                <span class="">오늘의 음식</span>
                
                <a class="" href="{% url 'users:login'%}">로그인이 필요한 서비스입니다</a>
                {% endif %}
                <a class="" href="{% url 'soccers:detail'%}">오늘의 해외축구 일정</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}