{%extends 'base.html'%}

{%block content%}

<div>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>What you want?</th>
            </tr>
        </thead>
        <tbody>
            {% if recommend_list %}
            {%for recommend in recommend_list%}
            <tr>
                <td>{{ forloop.counter0|add:1 }}</td>
                </td>
                <td>
                    <a href="{%url 'detail' recommend.id%}">{{recommend.recommend_name}}</a>
                </td>
            </tr>
            {%endfor%}
            {%endif%}
        </tbody>
    </table>
   
{%endblock%}